{% extends "kaos/base.html" %}
{% load kaos-avatars %}

{% block title %}Avatars{% endblock %}

{% block content %}
<h3>Change your user avatar.</h3>
<div class="avatar">
	{% user_avatar_image user %}
	<a class="clear-avatar" href="{% url clear_user_avatar %}" title="Clear avatar">&times;</a>
</div>
{% with user_form as form %}{% include "kaos/form.html" %}{% endwith %}

<h3>Change the avatar for a game you are taking part in.</h3>
<div class="avatar">
{% for player in players %}
	{% player_avatar_image player title=player.game.title %}
	<a class="clear-avatar" href="{% url clear_player_avatar slug=player.game.slug %}" title="Clear avatar for {{ player.game.title }}">&times;</a>
{% endfor %}
</div>
{% with player_form as form %}{% include "kaos/form.html" %}{% endwith %}
	
{% endblock %}
